<%
# title:: 1Q84%
# rating:: 3.5/5%
# description:: 3.5/5 stars: If you love Murakami and have the time to devote to nearly 1000 pages of fairly confusing fiction, then this book is worth a read.%
# date:: 2016,01,22%
# author:: Haruki Murakami%
%>

<h1><%= link_to("http://amzn.to/1OFrd3Z","1Q84") %></h1>

<h4>by Haruki Murakami</h4>

<h3>Rating: 3.5/5 stars</h3>

<h3>Date completed: January 22, 2016</h3>

<p>This behemoth of a book, totaling 928 pages, is not for the casual Murakami fan. Overall, I loved it, but it wasn’t Murakami’s strongest novel. The characters are strong, but it’s exhausting to read through the plot to the character development.</p>

<p>The plot was slow, lacking the dramatic tension that Murakami is usually so good at weaving into his stories. The writing is often cryptic. I felt that Murakami was trying to get something across to his readers, but the message got lost in a plot with too many loose ends. The strength of the book (and what kept me reading) were the characters.</p>

<p>Murakami’s works often explore loneliness. It’s the central theme of “1Q84.” Each of the several major characters is alone in the world — some by choice, some by force of circumstance, all a unique expression of loneliness.</p>

<p>If you love Murakami and have the time to devote to nearly 1000 pages of fairly confusing fiction, then this book is worth a read. This <em>should not</em> be your first Murakami novel. If you are looking for that, try “<%= link_to("http://amzn.to/1WEQwq0","Norwegian Wood") %>” or “<%= link_to("http://amzn.to/1SEdn5Y","Kafka on the Shore.")%>”</p>

<%= footer %>
