<%
# title:: The 8-Hour Diet: Watch the Pounds Disappear without Watching What You Eat!%
# rating:: 2/5%
# description:: 2/5 stars: 20 pages of interesting information with 300 pages of filler.%
# date:: 2016,01,29%
# pages:: 320%
# author:: David Zinczenko%
# image:: /img/8_hour_diet.jpg%
%>
<h1><%= link_to("http://amzn.to/1PrxJNt","The 8-Hour Diet: Watch the Pounds Disappear without Watching What You Eat!") %></h1>

<h4>by David Zinczenko </h4>

<h3>Rating: 2/5 stars</h3>

<h3>Pages 320</h3>

<h3>Date completed: January 29, 2016</h3>

<img style="height:auto; width:auto; max-width:300px; max-height:300px;" src=<%= @book.image %> alt="" />

<p>This book has been on my shelf for too long. I put off reading it because I hate diet books. They generally have the same pattern: cite some studies that may or may not be completely relevant, share some anecdotes of how it worked on some people, a description of the plan and then 200 pages of filler. This one was no different.</p>

<p>The meat of the information in this book can be fit on an index card.</p>

<ol>
	<li>Eat only 8 hours a day. For me this means not eating breakfast until 11am and not eating after 7pm.</li>
	<li><p>Eat at least one food from each of 8 categories everday.</p>

		<ol>
			<li>Lean meats (turkey, fish or eggs).</li>
			<li>Nuts (walnuts or almonds).</li>
			<li>Dairy (greek yogurt or milk).</li>
			<li>Beans or legumes.</li>
			<li>Berries.</li>
			<li>Fruits (Oranges or Apples).</li>
			<li>Leafy Greens (Spinach).</li>
			<li>Whole Grains (Quinoa or Oatmeal).</li>
		</ol></li>
	<li>Do a short workout routine first thing in the morning.</li>
	<li>Sleep a lot.</li>
	<li>Drink a lot of water and unsweetend hot drinks.</li>
</ol>

<p>That is it. There are some decently interesting studies cited in the book that may or may not be relevant. I am going to give the diet a try and I will report back in a couple months to see how I am doing.</p>

<p>I can’t recommend reading this book. If you are interested in intermittent fasting, check out the different studies done<sup><a href="#fn1" id="ref1">1</a></sup><sup><a href="#fn2" id="ref2">2</a></sup><sup><a href="#fn3" id="ref3">3</a></sup> and if they seem convincing to you follow the instructions I gave above. Everything else in the book is filler. Save your $6.</p>

<p>
	<sup id="fn1">1. <a href="http://www.ncbi.nlm.nih.gov/pubmed/16226298">Caloric restriction in humans: potential pitfalls and health concerns.</a><a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>
</p>

<p>
	<sup id="fn2">2. <a href="http://www.ncbi.nlm.nih.gov/pubmed/20029094">Effects of Ramadan intermittent fasting on sports performance and training: a review.</a><a href="#ref2" title="Jump back to footnote 2 in the text.">↩</a></sup>
</p>

<p>
	<sup id="fn3">3. <a href="http://www.ncbi.nlm.nih.gov/pubmed/15833943">Glucose tolerance and skeletal muscle gene expression in response to alternate day fasting.</a><a href="#ref3" title="Jump back to footnote 3 in the text.">↩</a></sup>

</p>
