<%
# title:: A Mind for numbers%
# rating:: 4%
# description:: 4/5 stars: I recommend this book to anyone who is still in school, does a lot of self-directed learning or teaches in some capacity.%
# date:: 2016,01,16%
# pages:: 336%
# author:: Barbara Oakley, Ph.D.%
%>

<h1><%= link_to("http://amzn.to/1JTMYOv",@book.title) %></h1>

<h4>by <%= @book.author %></h4>

<h3>Rating: 4/5 stars</h3>

<h3>Date completed: January 16, 2016</h3>

<p>I liked this book because it addressed two of the major issues I have with learning new skills: procrastination and a memory like a sieve.</p>

<p>Dr. Oakley provides practical strategies for dealing with procrastination. I immediately started implementing these strategies and have already reduced the stress I have around some of the self-learning I do.</p>

<p>Before reading this book, I thought my poor memory was something I just needed to work around. But, aftery trying the “memory palace” technique recommended by Dr. Oakley, I quickly memorized (and still remember days later!) the five layers of the epidermis. I’ve been using this technique with great success in the Algorithmic Thinking class I am taking.</p>

<p>I recommend this book to anyone who is still in school, does a lot of self-directed learning or teaches in some capacity.</p>

<%= footer %>
