<%
# title:: Anything You Want%
# rating:: 3.5%
# description:: 3.5/5 stars: It felt like Derek was giving me personal advice on how to start my next business.%
# date:: 2016,01,10%
# author:: Derek Sivers%
%>

<h1><%= @book.title %></h1>

<h4>by <%= @book.author %></h4>

<h3>Rating: 3.5/5 stars</h3>

<h3>Date completed: January 10, 2016</h3>

<p>I highlighted 41 passages in this book, which only has 88 pages. It felt like Derek was giving me personal advice on how to start my next business.</p>

<p>My big takeaways:</p>

<ul>
	<li>It is okay for profit to not be your primary motivation when you don’t have investors. </li>
	<li>The best way to grow is to focus completely on your customers.</li>
	<li>Through automation and delegation, work hard to make yourself unnessecary to your business.</li>
</ul>

<p>If you are interested in starting a business but find yourself questioning conventional startup wisdom, you will enjoy this book. </p>

<%= footer %>
