<%
# title:: Attack of the Clones%
# description:: 1/5 stars: Don’t read this book. %
# rating:: 1%
# date:: 2016,01,09%
# pages:: 370%
# author:: R. A. Salvatore%
%>

<h3><%= link_to("http://amzn.to/1Pla9Om","Attack of the Clones") %> </h3>

<h4>by<%=  book.author %></h4>

<h3>Rating: 1/5 stars</h3>

<h3>Date completed: January 9, 2016</h3>

<p>I am usually a book &gt; movie kind of person. Not in this case. Somehow, Salvatore makes the novelization of Attack of the Clones even more unbearable than its cinematic counterpart.</p>

<p>I had hope that the awful love story between Anakin and Padmé would become more believable when taken out of the hands of Hayden Christensen. I was wrong. Salvatore gives voice to Padmé’s inner monologue and makes her sound like a 15 year-old boy overwhelmed by his hormones.</p>

<p>The one redeeming factor is that you get some modest insights into the motivations of the various systems joining the separatist movement. Do yourself a favor and look that up on Wookiepedia instead.</p>

<p>Don’t read this book.</p>

<%= footer %>
