<h1><a href="http://amzn.to/1VQACs0">How About Never—Is Never Good for You?: My Life in Catoons</a></h1>

<h4>By: Bob Mankoff</h4>

<h3>Rating: 3 stars</h3>

<h3>Date completed: January 8, 2016</h3>


<p><i>“Play is not the default mode of life; seriousness is. But play is the default mode in cartooning.”</i> - Bob Mankoff</p>

<p>This was a quick, fun read. If you have interest in how New Yorker Cartoons get made, you will enjoy this book.</p>

<p>If you are looking for any deep insights into humor or the creative process, look elsewhere.</p>

</body>
<%= footer %>

</html>
