<h1>Books</h1>

<p>I got this idea from <%= link_to("https://sivers.org/book", "Derek Sivers") %>. I've tried to keep track of my reading in the past but never publically. So, for 2016 I commit to put every book I read up here with a summary and maybe some notes. Eventually I'll come up with some sorting mechanism.</p>


<%= footer %>
