  <h3>My rating system:</h3>

  <p>
    <b>1 star: </b> I didn't finish the book and I would not recommend anyone try starting.
  </p>

  <p>
    <b>2 star: </b> I finished the book, it was okay but I probably wouldn't recommend it.
  </p>

  <p>
    <b>3 star: </b> A solid book that I recommend to specific individuals.
  </p>

  <p>
    <b>4 star: </b> A great book I feel comfortable recommending.
  </p>

  <p>
    <b>5 star: </b> Read this book.
  </p>

<%= footer %>
