<%
# title:: Remote: Office Not Required%
# description:: 3/5 stars: Nothing groundbreaking here, but if you need convincing that working remotely is the future of many industries, this may help tip the scales. %
# rating:: 3%
# date:: 2016,01,12%
# author:: Jason Fried, David Heinemeier Hansson%
%>

<h1><%= link_to("http://amzn.to/1mZ16eM",@book.title) %></h1>

<h4>by <%= @book.author %></h4>

<h3>Rating: 3/5 stars</h3>

<h3>Date completed: January 12, 2016</h3>

<p>Commuting is killing you, no one is productive in an office and the challenges of remote work are manageable with technology.</p>

<p>Nothing groundbreaking here, but if you need convincing that working remotely is the future of many industries, this may help tip the scales.</p>
<%= footer %>
