<%
# title:: Revenge of the Sith: Star Wars: Episode III%
# rating:: 3/5%
# description:: 3/5 stars: Reading this book was the first time I believed that the Anakin we see pod-racing in “The Phantom Menace” could become Darth Vader.%
# date:: 2016,01,27%
# pages:: 480%
# author:: Matthew Stover%
%>
<h1><%= link_to("http://amzn.to/1TsLwVK","Revenge of the Sith: Star Wars: Episode III") %></h1>

<h4>by Matthew Stover</h4>

<h3>Rating: 3/5 stars</h3>

<h3>Date completed: January 27, 2016</h3>

<p>This is the best book of the Star Wars prequel trilogy by far. It might be because the story itself in the “Revenge of the Sith” movie was pretty good; the movie was just ruined overall by copious shots of a brooding Anakin.</p>

<p>“Revenge of the Sith” starts with a daring rescue of Chancellor Palpatine from the grips of General Grievous - a notorious Jedi killer. It then follows Anakin as the depth of the Sith plot is revealed and the democracy that lasted a millennium is ended.</p>

<p>The book added a lot of context to the events in the movie. For example, the book talks a lot about how poorly the Clone War is going for the Republic. &nbsp;It also reveals that Anakin now deals with a worshipful galaxy-wide fan club.</p>

<p>The reader gains insight into the internal struggle of Anakin in a way that Hayden Christensen could never convey with his one-note facial expression.</p>

<p>Reading this book was the first time I <em>believed</em> that the Anakin we see pod-racing in “The Phantom Menace” could become Darth Vader. Palpatine&#39;s manipulation of Anakin is brilliant, using his fierce loyalty to his friends to eventually turn on the Jedi. </p>

<p>I recommend this book to all Star Wars fans. While the other books in the trilogy don’t offer much, this one is worth the read. I actually left the book with an appreciation for what George Lucas was trying to do.</p>
<%= footer %>
