<%
# title:: The Gifts of Imperfection: Let Go of Who You Think You&#39re Supposed to Be and Embrace Who You Are%
# description:: 4/5 stars: This book has already had a meaningful impact on how I view the world around me. You should read it.%
# date:: 2016,01,09%
# author::Brene Brown%
%>

<h3><%= link_to("http://amzn.to/1Ocscs5", @book.title) %></h3>

<h4>by <%= @book.author %></h4>

<h3>Rating: 4/5 stars</h3>

<h3>Date completed: January 9, 2016</h3>

<p>
  <i>Until we can receive with an open heart, we are never really giving with an open heart. When we attach judgment to receiving help, we knowingly or unknowingly attach judgment to giving help.
</i>- Brené Brown</p>

<p>Brené Brown puts herself out there in a way that I’ve never seen. She talks openly about struggles that many of us have and none of us talk about.</p>

<p>What I like most is that, based on her research, Brown presents ten ideas to think about, each associated with a specific action item. She calls these goalposts. They are:</p>

<ol>
	<li>Cultivate Authenticity – Let go of what people think about you</li>
	<li>Cultivate Self-Compassion – Let go of perfectionism</li>
	<li>Cultivate a Resilient Spirit – Let go of numbing and powerlessness</li>
	<li>Cultivate Gratitude and Joy – Let go of scarcity</li>
	<li>Cultivate Intuition and Trusting Faith – Let go of the need for certainty</li>
	<li>Cultivate Creativity – Let go of comparison</li>
	<li>Cultivate Play and Rest – Let go of exhaustion as a status symbol and productivity as self-worth</li>
	<li>Cultivate Calm and Stillness – Let go of anxiety as a lifestyle</li>
	<li>Cultivate Meaningful Work – Let go of self-doubt and “supposed to”</li>
	<li>Cultivate Laughter, Song, and Dance – Let go of being cool and “always in control”</li>
</ol>

<p>Some things I think I will change as a result of reading this book:</p>

<ul>
	<li>Boundaries: When someone angers me, I usually suck it up and say nothing. Then, when I get home, I bitch to Clare. I feel a little better but the problem was never solved. Instead, Brown suggests clearly setting boundaries, with meaningful consequences, for those around us. Then, hold people accountable if they violate those boundaries. Doing this, she claims, can lessen the amount of anger you have towards others. I will start setting boundaries for people with whom I interact.</li>
	<li>Ask for help: I’m a stubborn guy. I’m not awesome at admitting when I’m in over my head. My solution has been to pound my head against a wall until I solve the problem or give up. On the other hand, I love when people ask me for help. Why do I judge myself for asking for help but not other people who ask for it? Brown described why she did that, “I derived self-worth from never needing help and always offering it.” I feel the same way. I am proud of my independence and I don’t want anyone to know that I sometimes need help. I will try to stop judging myself so harshly and ask for help when I need it.</li>
	<li>Put those closest to me first: I have an acute fear of letting people down. I put more effort into relationships with or work for casual acquaintances than I do for my loved ones. I let that fear dictate my relationship priorities. I will try to allow some of those things to drop to keep my priorities straight.</li>
	<li>Not numbing emotions: In the past I’ve done my best to avoid being alone with my thoughts because they are often painful. I distracted myself with television, podcasts, booze and food. Brown argues that it is impossible to truly embrace joy in our life if we try to take the edge off of pain. It isn’t possible to drown out just one kind of emotion. I’ve already given up booze and I will work on allowing moments of silence throughout my day and try to embrace the emotions that I am experiencing.</li>
</ul>

<p>This book has already had a meaningful impact on how I view the world around me. You should read it.</p>

<%= footer %>
