<%
# title:: Unstoppable: Harnessing Science to Change the World %
# rating:: 3.5/5%
# description:: 3.5/5 stars: This book was entertaining and inspiring. I left it feeling like I could make a difference.%
# date:: 2016,01,27%
# pages:: 352%
# author:: Bill Nye%
%>
<h1><%= link_to("http://amzn.to/1SqhzEQ","Unstoppable: Harnessing Science to Change the World ") %></h1>

<h4>by Bill Nye</h4>

<h3>Rating: 3.5/5 stars</h3>

<h3>Date completed: January 27, 2016</h3>

<p>This book was entertaining and inspiring. I left it feeling like I could make a difference. However, Bill Nye often rambled and repeated himself. I found myself wishing the book was over when I was only about a third of the way through. I’m glad I stuck it out, though, because the last few chapters are about space. :)</p>

<p>The actual writing in “Unstoppable” is not nearly as good as the writing in Nye’s previous book, “Undeniable.” Nye got caught in the weeds in places where he should have stayed high-level, but then he stayed high-level where I wanted more details. </p>

<p>If you are looking to convince your Fox News-watching parents that humans are responsible for climate change, this book is not what you want. Nye focuses on solutions, big and small, to help us preserve humanity’s home.</p>

<p>I recommend this book for anyone who enjoys brainstorming solutions to big problems, for entrepreneurs looking to break into the green tech space and especially for Bill Nye fans.</p>
<%= footer %>
