<p>For those of you into those sorts of thing, here is my public key.</p>

<div>
-----BEGIN PGP PUBLIC KEY BLOCK-----</br>
Comment: GPGTools - https://gpgtools.org</br></br>

mQENBFVs3z8BCACvopIQJn8XXP0GTQ3QJUVtJpZGqmdcizym87ReqOiX7TCo8NzZ
Zmirovvhic0SVTAAz7LrMkNBpcusRsLtKmL4BRVITdyFX1barXiZfMAL4EPG/MTs
E29AfHT6jvidjFeYSAs3Bf5pfLopAA1mBAk8eLoBT2ujTOiUJ/p58c9FkxQSoDU1
3q4NzaILDxk5cvA0ESfnEOvzg27p8nxNA4YAwTzt36Y+q7DC78iPg3sxx4qwZRk9
5scc1C6G2G5TSdz0If8b02gx8CQ4m1PzOaT3fQo6sjZf7zKC+aioNvYJPkWLCAyI
69Icq+BxFWqHe49J4dyeMdIrCe9oWRtvRrQ7ABEBAAG0KEplZmZyZXkgQmFpcmQg
PGplZmZAamVmZnJleWxlZWJhaXJkLmNvbT6JAT0EEwEKACcFAlVs3z8CGwMFCQPC
ZwAFCwkIBwMFFQoJCAsFFgIDAQACHgECF4AACgkQMmyrBjEf8o9cRAf/bgYHif0R
AXRVKDzEI7Ol97+zWJQkrqUmEb/4/aCKyZ/adLpd4ifDubw+yQeI6XnDK0qwKi/A
G0MkCw9wQBZCtwI/b8FAg1ks3i4JlYzFLvekeXdVtB+5meLczhX+iwhGAvsn2V4/
4aq2dJDy8TJ9UWU+0SA63m/g74dVpsGUQ0Nsk/11dZtm7B5U9ZqoM0V4utIBIJhC
oelox+NFQwW6ASFP0fYlr85JBrAN5DsKvpgalKdNX0hwadpnkabF7nnejNB0lAaJ
xwwJpc1riQ6co+7v2pWUcGruyjacjFpwZUfOBPY8Iy3Nr3oVQD0ZUoZRvday0u7i
mdEgOPAijjv/X7kBDQRVbN8/AQgA5rOVDS85c6lX+/0X9OR9Vj1SFn2mQSo7PD4e
R4ALQ2k6Zf9UiULr1/bofJCwpevrG/Fzoc95Cd1iMxKQf4BBO00AhyxPPJ1mXuC4
56x8HdA3BdgNkXbbcHaCIhOh2xG/Y0B44AIA+qdbv4cuDeUbp7No/T78w3KqVgRY
tb6pKtAmiimAwnNBBY2ZZGf/JuD4KkiJoQrlyYfn9O72YRdBGqnUuP7f7ExSaMXT
JjC0VVsJn50rQuV8QjvDJc4JgSdK/YCWV8igFCTAB8t9uZVB1shFVbCHoiH+v8FE
u/mcG/O1IkgqoZhtesc4i1hSoKYylZdjmsNEGxif5Fc3TGdUIwARAQABiQElBBgB
CgAPBQJVbN8/AhsMBQkDwmcAAAoJEDJsqwYxH/KPp/0H/3bRIUTZlMItuYJ19lSz
87/8oTKS9yyEQUYAyOJz7Ea3YeaP5Ge5tWtS0b/t5jNeSg/k9pkHym4uRdSt/XAy
t5bR/Tm5zhQarPL75U+v/y+ZqVb7a9JOKf+j7YUljdEo9fwl4HLg5UWr11bWX+B1
LaFimDQtEW7Vo/6ROwnKGp+mnNdmCe77qucVx58HU5mdlfl0sw9145/LX3+uILWz
cGYolclulqvA+yRsTPDI19bvEkesqTn/Z4RxMhktPtWzHsfO/a6mSG9UdRf1QSOM
m89BAm3Qg9jhTHnWsv4DZlsKTmK68It9+8kN5FO7NcBp5X8lL4nKB7VEYOj853Pi
H5w=
=ONGV</br></br>
-----END PGP PUBLIC KEY BLOCK-----
</div>

<ul style="list-style:none;"><li><%= link_to("/", "Home") %></li><li><%= link_to("/blog", "Blog") %></li><li><%= link_to("/public_key", "My Public Key") %></li></ul>