<h2>Hello!</h2>

<h4>My name is Jeff.</h4>

<ul>
  <b>I like:</b>
  <li>Brazilian Jiu-Jitsu</li>
  <li>Coffee</li>
  <li>Martinis</li>
  <li><a href="http://learnwithjeff.com">Learning</a></li>
  <li>Writing <a href="https://github.com/jeffreybaird">Code</a></li>
</ul>

<p>I love meeting new people. Please shoot me an <a href="mailto:jeff@jeffreyleebaird.com">email</a> or find me on <a href="http://twitter.com/jeffrey_baird">twitter</a></p>

<p>Here is a picture of me:</p>
<img src="img/jeffrey.jpg">
<ul style="list-style:none;"><li><%= link_to("/", "Home") %></li><li><%= link_to("/blog", "Blog") %></li></ul>

