<%
# title:: A month of letter writing%
# description:: In January I wrote 31 letters. This project was part of my ongoing efforts to reduce my use of social media, and I wanted to update my loved ones on my life with a more direct and personal form of communication. Also, who doesn&#39;t love receiving mail?%
# date:: 2015,03,18%
# author:: Jeffrey Baird%
%>
<h1>A month of letter writing</h1>

<p><%= @post.author %>: <%= @post.date %></p>

<p>In January I wrote 31 letters. This project was part of my ongoing efforts to reduce my use of social media, and I wanted to update my loved ones on my life with a more direct and personal form of communication. Also, who doesn&#39;t love receiving mail?</p>

<p>I’m writing about it now because I think I have received all of the responses I am going to receive.</p>

<h3>Letter Content</h3>

<p>I was surprised at how my letters changed based on my moods. I care for everyone on my list who received a letter. Some barely filled a post-card sized sheet of paper while others filled the front and back of a half-sheet. I kept a draft of every letter (they were in my journal, next to my to my to-do list for the day) and there was a strong correlation to how much stuff I got done on that day vs. how long the letter was.</p>

<h3>Response Rate</h3>

<p>So far, I have received ten initial responses. A response rate of about 30%. This was about double what I expected it to be. I have reason to believe that the response rate was really higher than that. I have at least one case of a letter never reaching its intended recipient and two cases of me never receiving a letter I know to have been sent. (By the way, if you sent me a letter and I didn’t <em>tell</em> you that I received it, please let me know.)</p>

<h3>Take aways</h3>

<p>Writing letters is fun! I really enjoyed/enjoy the excitement of going to my mailbox when there is a chance it might be a letter from someone awesome. It breaks the monotony of only getting advertisements and bills. It also gave me a chance to let my friends know I was thinking of them in a way that was slightly more meaningful than a text message.</p>

<p>Another, unexpected, benefit was how comfortable I felt expressing myself. I often discussed things that I wouldn’t in person due to various anxieties. I was left with the constant fear that I offended someone. But, I feel the benefit of being vulnerable with friends was worth that risk. </p>

<h3>Want a letter?</h3>

<p>I still have a few letters outside that list of 31 that I want to write and send. I'm also working through my backlog of responses to other letters. However, if you want to be added to that list send me an email!</p>

<ul style="list-style:none;"><li><%= link_to("/", "Home") %></li><li><%= link_to("/blog", "Blog") %></li></ul>