<%
# title:: Change Your Mind%
# description:: A single conversation led me to ditch my libertarian beliefs.%
# date::2016,02,22%
# author:: Jeffrey Baird%
%>

<h1>Change Your Mind</h1>

<p>&quot;Strong opinions, weakly held&quot; - Paul Saffro</p>

<p>18 year-old Jeff was a pain in the ass. He loved Bill O&#39;Reilly and making fun of &quot;hippie liberals.&quot;</p>

<p>21-year-old Jeff was even worse. He had just finished Atlas Shrugged. Ayn Rand had all of the answers and government just needed to get out of the way.</p>

<p>A single conversation led me to ditch my libertarian beliefs. I was arguing for a flat tax, and my cousin told me to look up &quot;marginal propensity to consume.&quot;</p>

<p>I researched it for the next four hours. After I emerged from my Wikipedia rabbit hole, I realized my old beliefs no longer held up. (Thanks Mark!)</p>

<p>I do this all the time. If I were a politician I&#39;d be accused of flip-flopping. Why do we applaud people for holding the same viewpoint forever?</p>

<p>When was the last time you changed your mind on something?</p>

<%= footer %>
