<%
# title:: Depression%
# description::Whether or not this is ever published, I know I can find some solace in expressing myself.%
# date::2014,09,25%
# author:: Jeffrey Baird%
%>
  <div>
    <h3>Depression</h3>
    <p><em>Note: I wrote this yesterday when I was in a pretty bad place. I’ve kept it as close to original as possible. I have an amazing wife, an understanding boss, a supportive family and great friends. I am on medication and see a therapist regularly. I work out and eat pretty well. The support system and the meds keep me pretty stable, but I still have days like yesterday.</em></p>
    <p>I have not been able to find the right time to write about my depression.</p>
      <p>I had a post planned for after Robin Williams’ death, but that time was followed closely by the events of Ferguson. I felt like I would be distracting from an important time in our country’s history.</p>
      <p>Before that, I had a post planned for after I moved out to Portland; I had a wedding, a new job and my wife was struggling with our relocation. I couldn’t find the words.</p>
      <p>Honestly, I still can’t.</p>
      <p>I thought today might be a good day to try again because I am feeling awful. Writing can be therapeutic. Whether or not this is ever published, I know I can find some solace in expressing myself.</p>
      <p>I’m currently listening to “I’m Not In Love” by 10cc. There is a line in the song where a woman is whispering in the background:</p>
      <blockquote>Be quiet, big boys don’t cry.
        <br>Big boys don’t cry.
        <br>Big boys don’t cry.
        <br>Big boys don’t cry.</blockquote>
      <p>I cried last night.</p>
      <p>I still can’t really tell you why. I was watching the Agents of Shield TV show with Clare, and a character’s altered mental state hit a little close to home.</p>
      <p>It wasn’t something that would normally leave me in tears.</p>
      <p>We set the alarm for 0600, giving us an extra hour of sleep after a later than usual night.</p>
      <p>——</p>
      <p>One of my strategies for dealing with depression is making sure that my alarm is out of arm’s reach. This forces me to get out of bed to silence it. I knew I couldn’t get back in bed, but I could feel the darkness settling in already, my inner voices
        kicking into gear.</p>
      <p>“Remember that time you swful thing…”</p>
      <p>“You probably shouldn’t go into work today, you’re just a waste of their resources.”</p>
      <p>“Clare would be better off with someone who wasn’t such a fucking loser.”</p>
      <p>“When people find out what a fraud you are… who are you here aren’t even enough people who care whether or not you are a fraud”</p>
      <p>Etc.</p>
      <p>Yup. It was not going to be a great day.</p>
      <p>Clare isn’t the morning person I am. Even when I wake up on mornings like this one, I wake up ready to go.</p>
      <p>Clare stayed in bed. I stood in front of my bathroom mirror, naked. I browsed Facebook on my phone, checked Reddit, Twitter, Secret&#8202;—&#8202;anything to escape the moment I was in and the voices echoing in my head.</p>
      <p>There was nothing there to drown out the voices or to ease the sadness.</p>
      <p>So I asked Clare to get up. It helps when there is something or someone to distract me. Her voice is often enough to bring me to a reasonable place.</p>
      <p>I made myself make coffee.</p>
      <p>I got the stuff out to make eggs.</p>
      <p>I stared at the frying pan and the butter. It seemed like a difficult task.</p>
      <p>I could turn a dial. If I turned the dial on the stove, the pan would get hot. I’d have to make the eggs then. One foot in front of the other.</p>
      <p>At some points during my morning routine, I just couldn’t move forward another inch. Clare would give me a gentle push, enough to take one more step.</p>
      <p>I was finally ready. Clare hadn’t been able to get herself ready, too busy caring for me. Also, I got the impression that if I ve in pretty short order I would start to grate on her.</p>
      <p>So I left.</p>
      <p>And, as much as I didn't to go to work, I knew I needed to keep moving.</p>
      <p>——</p>
      <p>I am at my desk working in 25-minute spurts; Pomodoros are one of my many strategies for getting through days like today. I am getting a line of code done here and there. I’m writing this during my 5-minute breaks in between spurts.</p>
      <p>I just finished my 5th pomodoro. I spent the second one aimlessly staring at my screen. The day is getting better, though. I was able to write some code that ran. Small victories.</p>
      <p>The voices aren’t as loud while I’m listening to music. Today it is AWESOME MIX VOL. 1 from Guardians of the Galaxy. I’ve got my Scala study group at noon. I will revisit this post after that.</p>
      <p>——</p>
      <p>Scala study group went well! Also I saw <a href="http://vart.institute/" data-href="http://vart.institute/">this amazing project</a> created by @<a href="http://twitter.com/jennschiffer" data-href="http://twitter.com/jennschiffer">jennschiffer</a>. Art makes me happy, and I like to see people exploring their mediums. In this case, JavaScript. I have a smile on my face. First time all day.</p>
      <p
    >Back to work.</p>
      <p>——</p>
      <p>The day was salvaged, mostly. It is 5 pm, and I’m packing up. I will go home and see my wife, and all will be well.</p>
  </div>

  <p>
    P.S. this was posted first over a year ago on <%= link_to("https://medium.com/@Jeffrey_Baird/depression-b30515fb2d18", "medium.") %>
  </p>
  <%= footer %>
