<%
# title:: Donald Trump's First 100 Days%
# description::%
# date::2016,11,10%
# author:: Jeffrey Baird%
%>

<p>
  I feel more comfortable talking about policy. So, for the time being, I am just going to go through Trump's proposed policies for the first 100 days. This is an off-the-cuff response to each proposal. I may do an deeper dive into a few of them at a later date. Policies are bolded.
</p>

<p>
  <b>* FIRST, propose a Constitutional Amendment to impose term limits on all members of Congress;</b>
</p>

<p>
  Congressional term limits are a popular policy across the aisle. Most political scientists that I've read argue that this actual shifts the power to the support staff in Washington even further. There is no chance of being a career senator, so it is in their best interest to immediately begin laying groundwork for their next job in politics.
</p>

<p>
  <b>
    * SECOND, a hiring freeze on all federal employees to reduce federal workforce through attrition (exempting military, public safety, and public health);
  </b>
</p>

<p>
  I think this ignores some of the real good that happens in some of the federal agencies. For example, the work that 18F - an office of the General Services Administration - does to modernize the government's digital offerings helps to make government more accessible and transparent.
</p>

<p>
  <b>* THIRD, a requirement that for every new federal regulation, two existing regulations must be eliminated;</b>
</p>

<p>
  I worry that he will use this to remove environmental regulations.
</p>

<p>
  <b>* FOURTH, a 5 year-ban on White House and Congressional officials becoming lobbyists after they leave government service;</b>
</p>

<p>
  I like this - it will be difficult to enforce so I'll be interested to see how it is written.
</p>

<p>
  <b>* FIFTH, a lifetime ban on White House officials lobbying on behalf of a foreign government;</b>
</p>

<p>
  Same comment as the last one.
</p>

<p>
  <b>* SIXTH, a complete ban on foreign lobbyists raising money for American elections.</b>
</p>

<p>
  <b>After Citizens United, I doubt this will hold up. But, maybe some of my lawyer friends have better insight into this.</b>
</p>

<p>
  <b>On the same day, I will begin taking the following 7 actions to protect American workers:</b>
</p>

<p>
  <b>* FIRST, I will announce my intention to renegotiate NAFTA or withdraw from the deal under Article 2205</b>
</p>

<p>
  I am a big supporter of free trade. I don't think renegotiating or pulling NAFTA will have an enormous impact on its own. However, I don't like the message it sends.
</p>

<p>
  <b>* SECOND, I will announce our withdrawal from the Trans-Pacific Partnership</b>
</p>

<p>
  I agree with this - but I think for very different reasons
</p>

<p>
  <b>* THIRD, I will direct my Secretary of the Treasury to label China a currency manipulator</b>
</p>

<p>
  Most experts in monetary policy whom I've read say this isn't an issue. I worry that this will start a disastrous trade war with China.
</p>

<p>
  <b>* FOURTH, I will direct the Secretary of Commerce and U.S. Trade Representative to identify all foreign trading abuses that unfairly impact American workers and direct them to use every tool under American and international law to end those abuses immediately</b>
</p>

<p>
  This is too vague for me to get my head around.
</p>

<p>
  <b>* FIFTH, I will lift the restrictions on the production of $50 trillion dollars' worth of job-producing American energy reserves, including shale, oil, natural gas and clean coal.</b>
</p>

<p>
  Global climate change is the biggest challenge facing humanity. Lifting restrictions on the production of carbon emitting energy sources will accelerate the problems our country is facing. However, it will probably result in a short-term jobs boost.
</p>

<p>
  <b>* SIXTH, lift the Obama-Clinton roadblocks and allow vital energy infrastructure projects, like the Keystone Pipeline, to move forward</b>
</p>

<p>
  Unlike most of my liberal brethren - I don't oppose pipelines outright. They leak less then trucks, and they are more energy efficient.
</p>

<p>
  <b>* SEVENTH, cancel billions in payments to U.N. climate change programs and use the money to fix America's water and environmental infrastructure</b>
</p>

<p>
  Fuck this.
</p>

<p>
  <b>Additionally, on the first day, I will take the following five actions to restore security and the constitutional rule of law:</b>
</p>

<p>
  <b>* FIRST, cancel every unconstitutional executive action, memorandum, and order issued by President Obama.</b>
</p>

<p>
  Even though I agree with most of Obama's executive orders, I think the increased power of the executive branch is a problem. I don't think Donald Trump will do anything to limit his power, though.
</p>

<p>
  <b>* SECOND, begin the process of selecting a replacement for Justice Scalia from one of the 20 judges on my list, who will uphold and defend the Constitution of the United States</b>
</p>

<p>
  His list of possible judges does not give me hope.
</p>

<p>
  <b>* THIRD, cancel all federal funding to Sanctuary Cities</b>
</p>

<p>
  I'm not sure what he means by this. Does this mean he removes federal assistance from any city that considers itself a Sanctuary City?
</p>

<p>
  <b>* FOURTH, begin removing the more than 2 million criminal illegal immigrants from the country and cancel visas to foreign countries that won't take them back.</b>
</p>

<p>
  Trump will be hard pressed to be more efficient than Obama in deporting illegal immigrants.
</p>

<p>
  <b>* FIFTH, suspend immigration from terror-prone regions where vetting cannot safely occur. All vetting of people coming into our country will be considered extreme vetting.</b>
</p>

<p>
  Our vetting process is already extreme and this won't protect us from terrorism.
</p>

<p>
  <b>Next, I will work with Congress to introduce the following broader legislative measures and fight for their passage within the first 100 days of my Administration:</b>
</p>

<p>
  <b>Middle Class Tax Relief And Simplification Act. An economic plan designed to grow the economy 4% per year and create at least 25 million new jobs through massive tax reduction and simplification, in combination with trade reform, regulatory relief, and lifting the restrictions on American energy. The largest tax reductions are for the middle class. A middle-class family with 2 children will get a 35% tax cut. The current number of brackets will be reduced from 7 to 3, and tax forms will likewise be greatly simplified. The business rate will be lowered from 35 to 15 percent, and the trillions of dollars of American corporate money overseas can now be brought back at a 10 percent rate.</b>
</p>

<p>
  The rhetoric makes this sound like a tax cut for the middle class; it is a much bigger tax cut for the wealthy. This tax plan will cost 2 - 6 Trillion dollars. Pair this with his infrastructure plans and we will likely see a deficit that has been slowly decreasing under Obama, skyrocket. Our debt to GDP ratio, already perilously high will also increase dramatically.
</p>

<p>
  I am for decreasing the corporate income tax, but I would not want to expand that to cover partnerships like Trump has mentioned (this would be a huge loophole for the wealthy) and I would want to pair it with a massive increase in the top marginal tax rate.
</p>

<p>
  <b>End The Offshoring Act. Establishes tariffs to discourage companies from laying off their workers to relocate in other countries and ship their products back to the U.S. tax-free.</b>
</p>

<p>
  I am against tariffs in any capacity.
</p>

<p>
  <b>American Energy & Infrastructure Act. Leverages public-private partnerships, and private investments through tax incentives, to spur $1 trillion in infrastructure investment over 10 years. It is revenue neutral.</b>
</p>

<p>
  I like this. I will wait to see how it is implemented.
</p>

<p>
  <b>School Choice And Education Opportunity Act. Redirects education dollars to give parents the right to send their kid to the public, private, charter, magnet, religious or home school of their choice. Ends common core, brings education supervision to local communities. It expands vocational and technical education, and make 2 and 4-year college more affordable.</b>
</p>

<p>
  I disagree with this. In practice, it will likely direct funds away from schools that need it most and give it to wealthier areas.
</p>

<p>
  <b>Repeal and Replace Obamacare Act. Fully repeals Obamacare and replaces it with Health Savings Accounts, the ability to purchase health insurance across state lines, and lets states manage Medicaid funds. Reforms will also include cutting the red tape at the FDA: there are over 4,000 drugs awaiting approval, and we especially want to speed the approval of life-saving medications.</b>
</p>

<p>
  The CBO estimates that 22 million people will lose insurance when the ACA is repealed. Donald Trump has not proposed a plan to help those people find insurance. The ACA is far from perfect, but we would be better off working to improve it than just repealing it.
</p>

<p>
  <b>Affordable Childcare and Eldercare Act. Allows Americans to deduct childcare and elder care from their taxes, incentivizes employers to provide on-side childcare services, and creates tax-free Dependent Care Savings Accounts for both young and elderly dependents, with matching contributions for low-income families.</b>
</p>

<p>
  A tax deduction only helps those who make enough money to pay taxes. The people who need help with child care the most, don't usually fall into that category. I think we would be better served with a means-tested child care tax credit.
</p>

<p>
  <b>End Illegal Immigration Act Fully-funds the construction of a wall on our southern border with the full understanding that the country Mexico will be reimbursing the United States for the full cost of such wall; establishes a 2-year mandatory minimum federal prison sentence for illegally re-entering the U.S. after a previous deportation, and a 5-year mandatory minimum for illegally re-entering for those with felony convictions, multiple misdemeanor convictions or two or more prior deportations; also reforms visa rules to enhance penalties for overstaying and to ensure open jobs are offered to American workers first.</b>
</p>

<p>
  The wall is idiotic and won't solve any of our real immigration problems. Also it puts the penelty of working as an illegal immigrant on the immigrant instead of the company who illegaly employs them. If Trump really wanted to be tough on illegal immigration, that is where he would crack down. Start jailing the CEOs of companies who hire illegal immigrants.
</p>

<p>
  <b>Restoring Community Safety Act. Reduces surging crime, drugs and violence by creating a Task Force On Violent Crime and increasing funding for programs that train and assist local police; increases resources for federal law enforcement agencies and federal prosecutors to dismantle criminal gangs and put violent offenders behind bars.</b>
</p>

<p>
  This will likely increase our issues around mass-incarceration.
</p>

<p>
  <b>Restoring National Security Act. Rebuilds our military by eliminating the defense sequester and expanding military investment; provides Veterans with the ability to receive public VA treatment or attend the private doctor of their choice; protects our vital infrastructure from cyber-attack; establishes new screening procedures for immigration to ensure those who are admitted to our country support our people and our values</b>
</p>

<p>
  I agree with the VA and the cyber-attack portion of this. The screening procedures are already super intense, so I'm not sure what he wants to do here.
</p>

<p>
  <b>Clean up Corruption in Washington Act. Enacts new ethics reforms to Drain the Swamp and reduce the corrupting influence of special interests on our politics.</b>
</p>

<p>
  Coming from the man who wouldn't even release his tax returns, I am not hopeful. It feels like a tool for him to root out his political enemies.
</p>

<p>
  This feels like some standard Republican fare mixed in with some populist ideas. I think that is an economically dangerous mix.
</p>

<p>
  This is an inadequate analysis so please ignore it if you want.
</p>

<%= footer %>
