<%
# title:: <img src="/img/wave.png" style="height:auto; width:auto; max-width:50px; max-height:50px;"/>%
# description::Elizabeth Warren%
# date::2016,04,19%
# author:: Jeffrey Baird%
%>

<h2>Elizabeth Warren</h2>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Are you kidding me, <a href="https://twitter.com/tedcruz">@TedCruz</a>? We’re supposed to pity you because trying to be the leader of the free world is hard?! 2 words: Boo hoo.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535212601765888">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Know whose health is limited? Workers w/ no paid leave who can&#39;t stay home when sick or caring for kids. <a href="https://twitter.com/tedcruz">@TedCruz</a> won&#39;t support it.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535329949958145">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Know whose health is limited? Workers w/ no paid leave who can&#39;t stay home when sick or caring for kids. <a href="https://twitter.com/tedcruz">@TedCruz</a> won&#39;t support it.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535329949958145">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Know whose sleep is limited? Working parents who stay up worrying about getting kids thru college w/o big debt. <a href="https://twitter.com/tedcruz">@TedCruz</a> blocked <a href="https://twitter.com/hashtag/refi?src=hash">#refi</a>.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535430000943104">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Know who gets no personal time? People who work 2 min wage jobs to support their families. <a href="https://twitter.com/tedcruz">@TedCruz</a> opposes giving them a raise.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535559911051264">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Know who gets no family time, <a href="https://twitter.com/tedcruz">@TedCruz</a>? Moms w/ unfair schedules who drop kids at daycare &amp; find their hrs cancelled. <a href="https://twitter.com/GOP">@GOP</a> won&#39;t help.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535675594149888">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Know who’s facing &quot;constant attacks,&quot; <a href="https://twitter.com/tedcruz">@TedCruz</a>? Hardworking American immigrants, Muslims, LGBT folks, women. Your constant attacks.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535807047835652">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">And <a href="https://twitter.com/tedcruz">@TedCruz</a>? Working people work more, get paid less, can&#39;t save, get mistreated, struggle with illness &amp; family - but they don&#39;t whine.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722535920612872192">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">They don&#39;t throw tantrums or try to shut down their workplace because they don&#39;t get their way - &amp; then turn around &amp; demand promotions.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722536059020644352">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">You chose to run for President, <a href="https://twitter.com/tedcruz">@TedCruz</a>. You chose to make your “sacrifices.” Working people don&#39;t have a choice.</p>&mdash; Elizabeth Warren (@elizabethforma) <a href="https://twitter.com/elizabethforma/status/722536176532471809">April 19, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<%= footer %>
