<%
# title:: Giving up Booze%
# description::I've given up drinking. It has had a bigger effect on me than I thought it would.%
# date::2015,10,04%
# author:: Jeffrey Baird%
%>

<h1>Giving up Booze</h1>

<p>For the last several years I haven’t been much of a drinker. Usually 2-4 drinks a week. Sometimes a bit more when there were a lot of social engagements during the week, sometimes a lot more. This is especially true in the summer with all of the social activities that follow warmer weather.</p>

<p>Last year, working through some of the data I keep on my moods with my therapist, I started to realize that there was a distinct pattern. I had more bad days following days that I had one or more drinks. If I had at least one drink for multiple days in a row, I would often find my moods on a downward trend. So, for the last eight months I was consciously reducing my alcohol consumption. I was feeling much better.</p>

<p>However, I was still drinking when we got together with friends, went to parties or had family gatherings. I was just being social. I almost always had a significant downturn in my mood the next day.</p>

<p>So, in mid-August I decided to try an experiment: no booze for thirty days. I wanted to try it for the sake of my mental health but I also thought it was an interesting challenge. So many of the social events I attend have an alcohol component.</p>

<p>I was pretty busy and didn’t have time to give the challenge much thought. At the end of the second week I reviewed how I was doing with my therapist. It hit me. My inner monologue of negativity had totally disappeared. The voice in my head telling me that I wasn’t good enough; that I didn’t deserve to be married to Clare; that my boss was sure to fire me any day now. They were completely quiet. </p>

<p>I almost didn’t believe it. These thoughts tormented me most of my adult life and now they were just gone? I decided to extend the experiment. I had a wide range of social engagements lined up over the next few months. It would be interesting to see how sobriety affected my social life.</p>

<p>In that time I attended several parties, a cookout, a wedding reception, went out on dates with Clare, went to a conference and went bar-hopping through Austin. The fears I had of not being able to socialize were unfounded. I actually think I did much better without the voice in my head telling me that no one wanted to hear me talk. It wasn’t weird that I wasn’t drinking, most of the time no one noticed.</p>

<p>It hasn’t quite been three months, but I am declaring the experiment a success. I am going to extend the no-drinking habit indefinitely. If this is something you’ve considered trying, I can’t recommend it highly enough.</p>


<%= footer %>
