<%
# title:: Goodbye, Portland%
# description::Clare and I are leaving Portland.%
# date::2016,04,04%
# author:: Jeffrey Baird%
%>

<h1>Goodbye, Portland</h1>

<p>Clare and I are leaving Portland. Clare will be attending Bryn Mawr College in Bryn Mawr, Pennsylvania for a post-baccalaureate premedical program.</p>

<p>Over the last two years, Portland became our home. We built our marriage here. We both learned a lot about ourselves, our careers and what we want out of life. Now it is time for us to say goodbye.</p>

<p>Thank you to our coaches and teammates at Industrial Strength Gym. We never thought that joining a gym could have such a significant impact on our lives. We extended our time in Portland because of you.</p>

<p>Thank you to all the friends we made. We enjoyed the hikes, meals, parties and companionship.</p>

<p>Thank you to the Portland Thorns. We enjoyed becoming fans of the best women&#39;s professional club in the world.</p>

<p>Thank you to the city of Portland. You are fucking weird. But we love you.</p>

<p>We are moving on. Portland, we can&#39;t wait to visit again soon.</p>



<%= footer %>
