<%
# title:: How Do You Read So Much?!%
# description::%
# date::2016,03,03%
# author:: Jeffrey Baird%
# image:: /img/books.jpg%
%>

<h1>How Do You Read So Much?!</h1>

<sup><a href="#fn1" id="ref1"><img style="height:auto; width:auto; max-width:600px; max-height:400px;" src=<%= post.image %> alt="Photo Credit: Clare Lennon" /></a></sup>

<p>I get asked this question a lot. I don&#39;t usually keep track, but I read 5-10 books a month on average. There have been periods of my life where I read 20+ books a month and times when I read fewer than 5.</p>

<p>I have several strategies that I have developed over the last 20 years. </p>

<h4>Read at least two books at a time, up to four. </h4>


<p>The argument I hear the most against this is, &quot;there is no way I could keep more than one book straight in my head.&quot; Bullshit. Do you only watch one TV show at a time? </p>

<p>Reading multiple books simultaneously buys you flexibility. Sometimes you just aren&#39;t in the mood for something heavy, or something technical, or something funny. Having a few books to choose from at any one time allows you to read according to your mood. When you don&#39;t pick one of the books up for a while, it is a good indication that you should ditch the book.</p>

<p>This leads me to my second point:</p>

<h4>Quit books mercilessly.</h4>

<p>Nothing will slow you down more than a book you don&#39;t enjoy. You don&#39;t owe the book, the author or the person who recommended it anything. Books are a matter of taste. There is no embarrassment in not liking a book.</p>

<h4>Mix mediums.</h4>

<p>Out of the four books, I read at a time, I limit myself to one physical book. I love traditional books, but they are tough to fit in your pocket. Also, Kindle has a feature where for a few extra dollars you can purchase the audiobook that corresponds with the Kindle book you are reading and it will keep the two synced. This makes it convenient to switch from reading on the couch to doing chores without putting the book down.</p>

<h4>Read during every free moment.</h4>

<p>Here is my typical daily reading schedule.</p>

<p>08:30 - on the bus for fifteen minutes.</p>

<p>10:00 - on the toilet for five minutes.</p>

<p>15:00 - in the bathroom for five minutes.</p>

<p>17:00 - on the bus for fifteen minutes.</p>

<p>19:00 - after dinner for fifteen minutes.</p>

<p>21:00 - before bed for thirty minutes.</p>

<p>That is about an hour and a half of reading a day. </p>

<p>The point is, you should always have a book on your person. Instead of scrolling through Facebook, read your book. Instead of tweeting at Justin Beiber, read your book. You have way more reading time than you think.</p>

<h4>Write a small summary of each book you read.</h4>

<p>I remember more of what I read when I write about it. If you are reading for anything beyond entertainment, you want to remember it. I have used a the <%= link_to("http://amzn.to/1p28uaZ","Moleskin Passion Journal") %>, random text files, and now this blog. It doesn&#39;t need to be anything long. A few sentences on your favorite part is plenty.</p>

<p>
  The average person can read 200 words per minute. If you read at that pace for one hour a day, you can read forty-five to fifty pages per day, or about a book a week! How much are you reading now?
</p>
<sup id="fn1">1. [Photo Credit: Clare Lennon]<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>

<%= footer %>
