<%
# title:: Lifting, Jiu-jitsu and depression%
# description:: Using exercise to treat depression%
# date::2015,03,26%
# author:: Jeffrey Baird%
%>
<h1>Lifting, Jiu-jitsu and depression</h1>

<p>In late September I wrote this piece on <a href="https://medium.com/@Jeffrey_Baird/depression-b30515fb2d18" title="Depression">depression</a>. Looking back on the post, I can’t relate to that version of me. I am doing much, much better. Shortly after that post, I joined <a href="http://industrialstrengthgym.com/">Industrial Strength Gym.</a></p>

<p>I&#39;ve spent the last five months spending four to six days a week in the gym, sometimes twice a day. Physical activity is often <a href="https://www.psychologytoday.com/blog/the-athletes-way/201310/25-studies-confirm-exercise-prevents-depression" title="25 Studies Confirm Exercise Prevents Depression">cited</a> as an excellent way to help with symptoms of depression. I was an active guy before joining IS, but there are a few specific things about how this gym operates that makes it particularly effective. </p>

<h3>Community</h3>

<p>One thing that struck me in my first week working out at Industrial Strength was how often I heard my first name spoken. At my office, where I spend at least eight, enjoyable hours with people I count as friends, people rarely address me directly. This may sound trivial, but it made me feel immediately welcome. As Dale Carnegie said in his book “How to Win Friends and Influence People&quot;:</p>

<blockquote>
<p>We should be aware of the magic contained in a name and realize that this single item is wholly and completely owned by the person with whom we are dealing and nobody else. The name sets the individual apart; it makes him or her unique among all others. The information we are imparting or the request we are making takes on a special importance when we approach the situation with the name of the individual. From the waitress to the senior executive, the name will work magic as we deal with others.</p>
</blockquote>

<p>A person’s name is a powerful thing. I am pretty sure that this is an intentional effort by Tony, the gym’s owner. During classes, he uses everyone’s first name, frequently. Forgetting a “teammate’s” name is never an issue for long, because you can be sure that you will hear it again before the end of class.</p>

<p>The gym has a “no headphones” rule and consistently encourages socializing.</p>

<p>I’ve spent a lot of my life in gyms. After playing football in high school and college, I found myself very averse to the macho, competitive nature of all the gyms I was in. Industrial Strength nurtures a healthy environment that places experienced lifters next to first-timers with almost no judgement.</p>

<h3>Consistent, Measured Success</h3>

<p>When I look for a new hobby, especially if I am looking for something to help me manage the symptoms of depression, being able to measure progress is the most important feature. The continuous feedback gives me concrete ammunition to fight against the internal struggle that comes with depression. When you can respond to the constant “You are worthless” thoughts with actual results from a hobby, getting out of bed in the morning gets a little easier.</p>

<p>The Strength and Conditioning program at industrial strength tracks progress on the major lifts that we do and provides specific goals to work toward. For example, during our last cycle I made it onto the 450kg board (combined weight lifted between Military Press, Bench Press, Squat and Deadlift is greater than 450kg/990lbs).</p>

<p>Brazilian Jiu-Jitsu tracks progress using stripes and belts. I recently earned my second stripe. BJJ also has the advantage of the immediate feedback from sparring partners. I have the privilege to roll with some amazing people and we frequently go over the details of a sparring session. </p>

<h3>Elsewhere</h3>

<p>Finding these qualities in a gym was a lucky break for me. It provides both the qualities I look for in a hobby as well as a lot of exercise. I’ve found that any activity that provides a sense of belonging and a way to measure and celebrate success can be successful at providing some relief to symptoms of depression.</p>


<ul style="list-style:none;"><li><%= link_to("/", "Home") %></li><li><%= link_to("/blog", "Blog") %></li></ul>
