<%
# title:: That Didn't Last Long %
# description:: I'm back on Facebook &#9785;%
# date:: 2015,03,19%
# author:: Jeffrey Baird%
%>

<h1>I lasted two days</h1>

<p>I honestly didn’t miss Facebook for the two days I was off it. However, I ran into a problem that I didn’t expect and required me to reactivate my account:</p>

<p>SPOTIFY DOESN’T WORK.</p>

<p>So I have three options, apparently:</p>

<ul>
  <li>Delete my Spotify account</li>
  <li>Create a new Spotify account that isn’t linked to my Facebook (you can’t unlink an existing account apparently).</li>
  <li>Reactivate Facebook.</li>
</ul>

<p>For now, I am reactivating Facebook. Hopefully I won’t be back for long. But, I need my Vitamin String Quartet to get through the work day. </p>