<%
# title:: The World Turned Upside Down%
# description::It has been a tough month%
# date::2016,06,03%
# author:: Jeffrey Baird%
%>

<h1>The World Turned Upside Down</h1>

<p>Thirty-one days ago Clare and I left the home and community we built in Portland, Oregon to move across the country to Bryn Mawr, Pennsylvania. Losing my job, my gym, my friends, my home, my therapist and my neighborhood to go somewhere I don’t have any of those things has left me emotionally adrift and listless.</p>

<p>Clare, who I’ve leaned on heavily for the last seven years, who has always been available 24/7 to help me get up when I am down, is suddenly unavailable. Away all day at school. Learning exciting new things and making new friends while I try to get a job, trapped in a dingy hotel room.</p>

<p>I knew this would be hard. But I imagined I would have a job by now. I imagined that I would be making friends. I tried not to think how busy Clare would be.</p>

<p>Instead, the job search has become a slog. The interviews are all running together as I do the same code challenges and answer the same questions.</p>

<p>Inevitably, we come to the question, &quot;How did you spend the last three years?&quot; I try to explain. I try to spin my three years of shitty paperwork as a show of grit. I hide the fact that I wrote almost no code professionally behind all the extracurricular coding I did. It never seems like enough. I am ashamed I didn&#39;t quit when I first realized that my career would not advance at Dexcom. I won&#39;t make that mistake again.</p>

<p>I usually deal with these moments by writing about it. But, even writing about this is terrifying. What if someone whom I want to hire me finds out that my “three years of experience” at my last job was more like three months of programming experience, two years of audit preparation and nine months of administering Bamboo?</p>

<p>I am not great at spinning my experience into a positive story when I am depressed. I only see the “reality” of the situation.</p>

<p>We move into our apartment this weekend. I know I will find stability. I know I will build a new community. I know I will find a place to fit in. That future feels far away.</p>

<p>For the first time I can remember, I am truly and utterly homesick, and I can’t help but pine for summer in Portland.</p>

<%= footer %>
