<%
# title:: Today was better than yesterday%
# description::Writing about depression helps me overcome depression%
# date::2016,06,08%
# author:: Jeffrey Baird%
%>

<h1>Today, was better than yesterday</h1>

<p>On Friday, I wrote and published <%= link_to("/blog/posts/the_world_turned_upside_down", "a post") %> that was an unfiltered view into my lowest point in a few years. It was the worst day of the worst depressive episode since I wrote <%= link_to("/blog/posts/depression", "this post") %>.</p>

<p>I felt completely powerless to move forward in any way. Once I wrote my feelings down and published them, my problems did not belong to me anymore. I could view them from the perspective of a third party.</p>

<p>After posting, I came to realize three things:<br/> </p>

<ol>
	<li>My job search is going pretty well. I’ve had tons of interviews, and most are continuing to move forward.</li>
	<li>Our month without a place to call home is over. We moved in on Saturday.</li>
	<li>I have incredible family and friends, even if they don’t live in Bryn Mawr.</li>
</ol>

<p>The reason I write and publish when I struggle with depression is that the act of writing gives me power over my depression. Depression festers when I try to pretend everything is okay.</p>

<p>My usual sunny disposition has not returned completely. But, today was better than yesterday and tomorrow will be better yet. Thank you to everyone who reached out. I love you all; it means the world to me.</p>

<i style="font-size: 10pt">
<p>P.S. The title of my last post was a reference to Hamilton. That soundtrack helped me through the last couple weeks and the sentiments of life being slightly chaotic because of a sudden change spoke to me on a few levels.</p>

<p>I am not dramatic enough to think my world had turned upside down, even when I am at my lowest. Clare pointed out to me that the reference was ambiguous at best. </p>
</i>



<%= footer %>
