<%
# title:: Why I don't write often (And how I'm going to change)%
# description::I am self-conscious about my writing%
# date::2016,02,21%
# author:: Jeffrey Baird%
%>
<h1>Why I don&#39;t write often </h1>
<em><h4>And how I&#39;m going to change</h4></em>

<p><b>By: <%= post.author %>: <%= post.date %></b></p>

<p>I want to try to write and publish something most days. </p>

<p>However, I am self-conscious about my writing and afraid of saying something that will get me in trouble.</p>

<p>What should I do if I offend someone?</p>

<p>I need to listen when someone disagrees with me. I would need to apologize if I was wrong.</p>

<p>How would I know that I was wrong? </p>

<p>I should continue to consult Clare - she has valuable insights when it comes to right and wrong.</p>

<p>I never learned proper grammar. The only reason I am an acceptable writer is that I read a lot. Clare proof-reads everything I publish but that isn&#39;t sustainable.</p>

<p>Clare suggested that I start reading all of my posts out-loud before I publish them, in order to catch errors. I tried that with my last review. I am happy with the results.</p>

<p>Also, I hope that my readers will help point out spelling and grammatical errors when I make them and I can continue to improve.</p>

<p>Hopefully by following these rules I can alleviate some of the anxiety I have around writing and publishing more often.</p>


<%= footer %>
